@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Custom scrollbar styles */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 10px;
  }
}

/* img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;ri
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

figure a {
  color: black;
  text-decoration: none;
}

figcaption {
  grid-row: 2;
  grid-column: 1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.2em 0.5em;
  justify-self: start;
}

.container {
  column-count: 4;
  column-gap: 10px;
  margin: 25px 0 0 0;
}

@media (max-width: 1024px) {
  .container {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .container {
    column-count: 2;
  }
}

@media (max-width: 640px) {
  .container {
    column-count: 1;
  }
} */
